/** @format */

.video-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("https://gateway.pinata.cloud/ipfs/QmcjVH877GVbdjGxf6mqGwrraN4LKZ5yfwo32X2dDTz1eF")
    no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.video-thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 400ms ease 0ms;
}
.tiny {
  filter: blur(20px);
  transform: scale(1.1);
  transition: visibility 0ms ease 400ms;
}

*:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  box-shadow: none !important;
}
